<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
					name="Feature.Handlebars"
					description="Feature.Handlebars templates and renderings"
					dependencies="Foundation.Handlebars"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\Handlebars\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Templates" database="master" path="/sitecore/templates/Feature/SF/Handlebars"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/SF/Handlebars"/>
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature/SF/Handlebars"/>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
